.invalid {
    border: 1px solid red;
}

#form{
    display: grid;
}

input {
    width: 450px;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 10px;
}

.input.success input {
    border: 1px solid green;
}

.input.error input {
    border: 1px solid red;
}

.input .error{
    color: red;
}

#register {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
